# Cambia estos valores según las credenciales que desees usar para tu base de datos
CONTAINER_NAME=mi-app-postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=super_secreto
POSTGRES_DB=mi_base_de_datos
POSTGRES_PORT=5432
